body {
	width: 100%;
	margin: 0;
	background-color: #3cb371;
}

header {
	width: 100%;
}

.container {
	display: flex;
	max-width: 60%;
	height: 70px;
	margin: 0 0;
	padding: 0 0;
	flex-direction: row-reverse;
	background-color: #a9a9a9;
	margin-left: 40%;
	box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* .tri {
	width: 50px;
	border: 35px solid #a9a9a9;
	border-bottom: 35px solid transparent;
	border-left: 35px solid transparent;
	background-color: #3cb371;
} */

.item {
	padding: 11px 11px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	flex-flow: row;
	margin: auto 10px;
	color: #696969;
	font-weight: bold;
	margin-left: 0px;
	color: #ffff00;
}

.icon {
	padding: 16px 11px;
	height: 50px;
	text-align: center;
	font-size: 40px;
	flex-flow: row;
	margin: auto 10px;
	color: #696969;
	font-weight: bold;
	margin-top: 4px;
}

.space {
	flex-grow: 2;
}

img {
	width: 40%;
	margin: 0 auto;
	margin: 0 30%;
	padding-top: 70px;
}

.stats1 {
	position: absolute;
	top: 70%;
	display: flex;
	height: 50px;
	width: 100%;
}

.statusl {
	background-color: rgba(255, 215, 0, 0.7);
	flex-grow: 2;
}

.tril {
	width: 50px;
	border: 25px solid rgba(255, 215, 0, 0.7);
	border-bottom: 25px solid transparent;
	border-right: 25px solid transparent;
	background-color: transparent;
}

.statusr {
	background-color: rgba(0, 191, 255, 0.7);
	flex-grow: 2;
}

.trir {
	width: 50px;
	border: 25px solid rgba(0, 191, 255, 0.7);
	border-top: 25px solid transparent;
	border-left: 25px solid transparent;
	background-color: transparent;
}
